
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.checkout-body {
  min-height:100vh;
  width: 100%;
  margin:0;
  font-family:lato, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background:hsl(var(--background));
}

.checkout-body h2 {
  margin-bottom:0px;
  margin-top:25px;
  text-align:center;
  font-weight:200;
  font-size:19px;
  font-size:1.2rem;
  
}
.checkout-body .container {
  height:100%;
  width: 100%;
  max-width: 800px;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  padding: 1rem;
}
.checkout-body .dropdown-select.visible {
  display:block;
}
.checkout-body .dropdown {
  position:relative;
}
.checkout-body ul {
  margin:0;
  padding:0;
}
.checkout-body ul li {
  list-style:none;
  padding-left:10px;
  cursor:pointer;
}
.checkout-body ul li:hover {
  background:rgba(255,255,255,0.1);
}
.checkout-body .dropdown-select {
  position:absolute;
  background:hsl(var(--primary));
  text-align:left;
  box-shadow:0px 3px 5px 0px rgba(0,0,0,0.1);
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  width:90%;
  left:2px;
  line-height:2em;
  margin-top:2px;
  box-sizing:border-box;
  display: none;
  z-index: 20;
}
.checkout-body .thin {
  font-weight:400;
}
.checkout-body .small {
  font-size:12px;
  font-size:.8rem;
}
.checkout-body .half-input-table {
  border-collapse:collapse;
  width:100%;
}
.checkout-body .half-input-table td:first-of-type {
  border-right:10px solid hsl(var(--primary));
  width:50%;
}
.checkout-body .window {
  height:auto;
  width:100%;
  background:#fff;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  flex-direction: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  border-radius:30px;
  z-index:10;
}
.checkout-body .order-info {
  height:100%;
  width:100%;
  padding-left:25px;
  padding-right:25px;
  padding-bottom: 25px;
  box-sizing:border-box;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  position:relative;
  color: black;
}
.checkout-body .price {
  bottom:0px;
  position:absolute;
  right:0px;
  color: hsl(var(--primary));
}
.checkout-body .order-table td:first-of-type {
  width:25%;
}
.checkout-body .order-table {
    position:relative;
}
.checkout-body .line {
  height:1px;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  background:#ddd;
}
.checkout-body .order-table td:last-of-type {
  vertical-align:top;
  padding-left:25px;
}
.checkout-body .order-info-content {
  table-layout:fixed;
  width: 100%;
}

.checkout-body .full-width {
  width:100%;
  max-width: 80px;
  object-fit: cover;
  border-radius: 8px;
}
.checkout-body .pay-btn {
  border:none;
  background:hsl(var(--primary));
  line-height:2em;
  border-radius:10px;
  font-size:19px;
  font-size:1.2rem;
  color:#fff;
  cursor:pointer;
  width:100%;
  margin-top: 20px;
  -webkit-transition:all .2s ease;
          transition:all .2s ease;
}
.checkout-body .pay-btn:hover {
  background:hsl(var(--primary));
  filter: brightness(1.2);
    color:#eee;
  -webkit-transition:all .2s ease;
          transition:all .2s ease;
}

.checkout-body .total {
  margin-top:25px;
  font-size:20px;
  font-size:1.3rem;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
}
.checkout-body .dense {
  line-height:1.2em;
  font-size:16px;
  font-size:1rem;
}
.checkout-body .input-field {
  background:rgba(255,255,255,0.1);
  margin-bottom:10px;
  margin-top:3px;
  line-height:1.5em;
  font-size:20px;
  font-size:1.3rem;
  border:none;
  padding:5px 10px 5px 10px;
  color:#fff;
  box-sizing:border-box;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 5px;
}
.checkout-body .credit-info {
  background:hsl(var(--primary));
  height:100%;
  width:100%;
  color:#eee;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  font-size:14px;
  font-size:.9rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-sizing:border-box;
  padding:25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position:relative;
}
.checkout-body .dropdown-btn {
  background:rgba(255,255,255,0.1);
  width:100%;
  border-radius:5px;
  text-align:center;
  line-height:1.5em;
  cursor:pointer;
  position:relative;
  -webkit-transition:background .2s ease;
          transition:background .2s ease;
}

.checkout-body .dropdown-btn:hover {
  background:rgba(255,255,255,0.2);
  -webkit-transition:background .2s ease;
          transition:background .2s ease;
}
.checkout-body .credit-card-image {
  display:block;
  max-height:80px;
  margin-left:auto;
  margin-right:auto;
  margin-top:35px;
  margin-bottom:15px;
}
.checkout-body .credit-info-content {
  margin-top:25px;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:100%;
}

@media (min-width: 800px) {
    .checkout-body .window {
        flex-direction: row;
        height: 540px;
    }
    .checkout-body .order-info {
        width: 50%;
        padding-bottom: 25px;
    }
    .checkout-body .credit-info {
        width: 50%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 30px;
    }
    .checkout-body .pay-btn {
        position: absolute;
        bottom: 25px;
        width: calc(100% - 50px);
    }
    .checkout-body .total {
        position: absolute;
        bottom: 30px;
        right: 27px;
        left: 35px;
    }
}
