
rules_version = '2';

// These rules apply to the bucket: studio-9439717090-1fb6e.appspot.com
service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper function to check for admin email
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'reellookz@gmail.com';
    }

    // 1. Unrestricted admin access to all storage paths.
    match /{allPaths=**} {
      allow read, write: if isAdmin();
    }
    
    // 2. Rules for user-specific files
    match /users/{userId}/{allPaths=**} {
        // A user can read and write to their own folder
        allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // 3. Rules for public feed content
    match /feed/{path=**} {
      // Anyone can read files from the 'feed' directory.
      allow read: if true;

      // Authenticated users can create new files in the 'feed' directory.
      allow create: if request.auth != null &&
                       request.resource.size < 15 * 1024 * 1024 &&
                       (request.resource.contentType.matches('image/.*') || request.resource.contentType.matches('video/.*'));
    }
  }
}
